/* Colors */
$background_color: #0f0f0f;
$input_main_color: whitesmoke;
$font_main_color: whitesmoke;
$default_hover_color: #616161;

/* Box borders */
$default_rounding: 2rem;
$default_border: 2px solid whitesmoke;

/* Paddings */
$default_button_padding: 0.25rem 0.5rem 0.25rem 0.5rem;