@import './_variables.scss';
@import './_mixins.scss';
@import './_placeholders.scss';
//@import './_animations.scss';

/* Generals */
:root{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: $font_main_color;
}
html, body{
    height: 100%;
    margin: 0;
}
body{
    background: $background_color;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main feature zone */ 
canvas{
    border: $default_border;
    background-color: #aaaaaa;
}

/* Keyset selector */
// .keyset_select{
//     top: 0;
// }