@import './_variables.scss';
@import './_mixins.scss';
@import './_placeholders.scss';
//@import './_animations.scss';

/* Generals */
:root{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: $font_main_color;
}
html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}
body{
    background: $background_color;
}
header{
    display: flex;
    height: 80px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Main feature zone */ 
canvas{
    border: $default_border;
    background-color: #aaaaaa;
}

/* Keyset selector */
#keyset_select{
    position: absolute;
    right: 50px;
    top: 10px;
}

/* Score zone */
#score_zone{
    margin: 0;
    padding: 0;
}

/* Scoreboard */
#scoreboard{
    border: $default_border;
    position: absolute;
    top: 18vh;
    right: 50px;
    width: 20vw;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    hr{
        background-color: white;
        height: 0.9px;
        width: 100%;
    }
    p{
        width: 100%;
        text-align: center;
        margin: 10px 0 0 0;
        padding: 0;
    }
}